{erl_opts, [
            debug_info,
            fail_on_warning,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_unused_function,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_unused_import
           ]}.

{require_otp_vsn, "18"}.
{cover_enabled, true}.

{deps, [
        {amqp_client, {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.5.0"}}},
        {jsx,         {git, "git://github.com/talentdeficit/jsx.git",    {tag, "v2.6.2"}}},
        {sync,        {git, "git://github.com/rustyio/sync.git",         {branch, "master"}}}
       ]}.

{relx, [{release, {exor, "0.0.1"}, [exor]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
       ]}.

{profiles, 
 [
  {test, [{deps,
           [{meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
           ]}
         ]},
  
  {prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}]}
 ]}.
